<h1 id="home-welcome">Todo</h1>
<a href="#finished-wrapper" id="scroll-to-finished"
    ><i class="fas fa-angle-double-down"></i
></a>

<button id="modal-show-button"><i class="fas fa-plus"></i></button>
